<!--
HTML, XML, AJAX, CSS, JavaScript and server-side code developed by
	Paul Kilfoil
	Software Development & IT Consulting
	South Africa
	PaulKilfoil..[at]..gmail.com
	www.PaulKilfoil.co.za
-->
<script type="text/javascript">
var sessionTime = "<% =Session.Timeout %>";
var userMode    = "<% = ( sessionGeneral == null ? (byte)0 : sessionGeneral.CheckExpiry ) %>";
var colorOK     = "green";
var colorErr    = "crimson";
</script>

<script type="text/javascript" src="JS/Utils.js?v=5"></script>
<script type="text/javascript" src="JS/Timeout.js"></script>
