<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <appSettings>
		<add key="SystemMode"    value="Dev" />
		<add key="SystemURL"     value="http://localhost:51407" />
		<add key="SystemPath"    value="C:\Dev\Prosperian\Application\PCIWebFinAid" />
		<add key="ImageFolder"   value="ImageLibrary/" />
		<add key="LogFileErrors" value="C:\Temp\Logs\PCIError.txt" />
		<add key="LogFileInfo"   value="C:\Temp\Logs\PCIInfo.txt" />
		<add key="SMTP-Server"   value="smtp.socketlabs.com" />
		<add key="SMTP-User"     value="server29780" />
		<add key="SMTP-From"     value="info@paulkilfoil.co.za" />
		<add key="SMTP-Password" value="z8R6Lrp3FEd9b7MD" />
		<add key="SMTP-Port"     value="587" />
		<add key="SMTP-Mode"     value="29" /> <!-- "29" means do NOT send mails -->

		<add key="Access/BackDoor"    value="615702" />

		<add key="TokenEx/Id"         value="4311038889209736" />
		<add key="TokenEx/Key/Iframe" value="njSRwZVKotSSbDAZtLBIXYrCznNUx2oOZFMVZp7I" />
		<add key="TokenEx/Key/API"    value="54md8h1OmLe9oJwYdp182pCxKF0MUnWzikTZSnOi" />
		<add key="TokenEx/Script"     value="https://test-htp.tokenex.com/iframe/iframe-v3.min.js" />

		<add key="Peach/Id/3d" value="8ac7a4c772b77ddf0172b7ed1cd206df" />
		<add key="Peach/Id"    value="8ac7a4ca72b781310172b7ed08860114" />
		<add key="Peach/Key"   value="OGFjN2E0Yzc3MmI3N2RkZjAxNzJiN2VkMDFmODA2YTF8akE0aEVaOG5ZQQ==" />
  </appSettings>
  <connectionStrings>
		<!--
		<add name="DBConn" connectionString="server=LAPTOP-LAPTOP64\SQL2012;database=Prosperian;UID=sa;PWD=sa;Integrated Security=false" providerName="System.Data.SqlClient" />
		-->
		<add name="DBConn"      connectionString="server=LAPTOP-3D7O24GF\SQL2017;database=Prosperian;UID=sa;PWD=sa;Integrated Security=false" providerName="System.Data.SqlClient"/>
		<add name="DBConnTrade" connectionString="server=LAPTOP-3D7O24GF\SQL2017;database=Prosperian;UID=sa;PWD=sa;Integrated Security=false" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <location path="Register.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
	<location path="RegisterEx1.aspx">
		<system.web>
			<httpRuntime requestValidationMode="2.0"/>
		</system.web>
	</location>
	<location path="RegisterEx2.aspx">
		<system.web>
			<httpRuntime requestValidationMode="2.0"/>
		</system.web>
	</location>
	<location path="RegisterEx3.aspx">
		<system.web>
			<httpRuntime requestValidationMode="2.0"/>
		</system.web>
	</location>
	<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
		<!--
		<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		-->
	</compilers>
  </system.codedom>
</configuration>