<?xml version="1.0"?>
<configuration>
	<appSettings>
	</appSettings>
	<connectionStrings>
	</connectionStrings>
	<system.web>
		<compilation debug="false" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.5.2" />
		<!-- For debugging ...
		<customErrors mode="Off" />
		-->
	</system.web>
	<location path="Register.aspx">
		<system.web>
			<httpRuntime requestValidationMode="2.0" />
		</system.web>
	</location>
	<location path="RegisterEx1.aspx">
		<system.web>
			<httpRuntime requestValidationMode="2.0" />
		</system.web>
	</location>
	<location path="RegisterEx2.aspx">
		<system.web>
			<httpRuntime requestValidationMode="2.0" />
		</system.web>
	</location>
	<location path="RegisterEx3.aspx">
		<system.web>
			<httpRuntime requestValidationMode="2.0" />
		</system.web>
	</location>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions=" /langversion:6 /nowarn:1659;1699;1701" />
		</compilers>
	</system.codedom>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>